.env
**/.env
*.json                      
!package.json               
!package-lock.json
terraform.tfvars
*.tfvars

*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

.venv/
**/.venv/
__pycache__/
*.pyc

node_modules/
**/node_modules/
dashboard/dist/

.config/
*.kubeconfig

